services:
  proxy:
    volumes:
      - ../../docker/proxy/httpd.conf:/usr/local/apache2/conf/httpd.conf:ro
      - ../../docker/proxy/httpd-vhosts.conf:/usr/local/apache2/conf/vhosts/httpd-vhosts.conf:ro
      - ../../docker/ssl:/usr/local/apache2/conf/ssl:ro
  api:
    build:
      target: development
    depends_on:
      postgres:
        condition: service_healthy
    environment:
      NODE_ENV: development
    volumes:
      - ../../apps/api:/app
      - /app/node_modules
      - ../../VERSION:/etc/app-version:ro
    ports:
      - ${API_EXTERNAL_PORT:-4444}:4000
    command: npm run dev
  nextjs:
    build:
      target: development
    environment:
      NODE_ENV: development
    volumes:
      - ../../apps/nextjs:/app
      - /app/node_modules
      - ../../VERSION:/etc/app-version:ro
    ports:
      - ${NEXTJS_EXTERNAL_PORT:-4443}:3000
    command: npm run dev
  postgres:
    ports:
      - 5432:5432
  valkey:
    ports:
      - 6380:6379
